@import '../../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
// @import 'fonts';

html, body {
  min-height: 100%;
  font-family: 'Inter';
  font-weight: 700;
}
body {
  margin: 20px;
  background-color: #4516a3;
}
button {
  padding: 0;
  background: transparent;
  border: none;

}

ul,li,ol {
  margin: 0;
  padding: 0;
  list-style: none;
}